.app {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.employee-header {
    margin: 1rem 0.5rem;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}
