.employee-table th {
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #3a3a3a;
}

.employee-table td {
    padding: 1rem;
    text-align: left;
}

.table-body tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.table-body tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.table-body-buttons {
    width: 5rem;
}

.sub-btn {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #3a3a3a;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.sub-btn:hover {
    background-color: #5a5a5a;
}

.add-employee-btn:hover {
    background-color: #5a5a5a;
}

.bottom-div {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 1rem 0rem;
}

.bottom-btn {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #3a3a3a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 10rem;
}

.bottom-btn:hover {
    background-color: #5a5a5a;
}

.table-popup {
    max-width: 400px;
    margin-top: 3rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
